@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

li {
  display: inline-block;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

/* End */




/* Utility Class */
.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.b1 {
  border: 1px solid white;
}

button {
  margin-top: 1rem ;
  margin-right: 1rem;
  padding: 1em;
  width: 150px;
  border-radius: 30px;
  background-color: #333333;
  color: #ffffff;
  font-weight: light;
  font-size: 1rem;
  cursor: pointer;
}

.btn-primary {
  border: 2px solid #007ced;
}

.btn-secondary {
  border: 2px solid #e60576;
}


.view_more{
  position: absolute;
  padding: 0.8em;
  border-radius: 0px 0px 20px 20px;
  border-radius: 20px;
  background-color: rgb(230, 5, 118);
  bottom: -25px;
  left: 92.3%;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.9) 0px -2px 6px 0px inset;
}

.view_more .iconify{
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.view_more span{
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}


/* End */




/* Base Classes */

body {
  background-color: #007ced;
  padding: 3rem;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: #222222;
  border-radius: 40px;
  width: 100%;
  height: auto;
  padding: 2rem;
}


/* End  */




/* Navbar Style  */
.header {
  width: 100%;
  height: 100vh;
}

.nav {
  width: 100%;
  height: 90px;
}

.nav-items {
  width: 100%;
  height: 100%;
}

.nav-item {
  position: relative;
}

li.nav-item:hover  li.nav-item a{
  color: #007ced;
  

}

.nav-item a {
  padding: 0 2rem;
  font-size: 1.2rem;
  color: #d5d5d5;
}

/* End */




/* Hero Section Style  */
.hero-section {
  position: relative;
  width: 100%;
  height: calc(100% - 90px - 2rem);
}

.hero-section::after{
  position: absolute;
  content: "<profile>";
  color: #FFF;
  top: 0;
  left: 20px;
  font-size: 1.2rem;

}

.hero-section::before{
  position: absolute;
  content: "</profile>";
  color: #FFF;
  bottom: 0;
  right: 20px;
  font-size: 1.2rem;

}

.admin-picture {
  width: 50%;
  height: 100%;
  
}

.picture {
  filter: drop-shadow(0px 1px 30px #007ced);
  overflow: hidden;
}

.picture img {
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(5px);
  border-radius: 50%;
  border: 1.5rem solid #444444;
}

.information {
  width: 50%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.information p:nth-child(1){
  font-weight: lighter;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 300;
  /* line-height: 3.5rem; */
}

.information p:nth-child(2){
  font-weight: bold;
  color: #aaaaaa;
  font-size: 3rem;
  margin-top: 1.5rem;
  line-height: 20px;
}


.information p:nth-child(3){
  font-weight: bolder;
  color: #ffffff;
  font-size: 4rem;
  margin: 0;
  padding: 0;
  line-height: 90px;
}

.information p:nth-child(4){
  font-size: 1.2rem;
  color: #aaaaaa;
  width: 70%;
  font-weight: 300;

}





/* Experience Section Style  */
.experience{
  position: relative;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 1rem;

}

.experience::after{
  position: absolute;
  content: "<experience>";
  /* border: 1px solid gold; */
  color: #FFF;
  top: 0;
  left: 20px;
  font-size: 1.2rem;

}

.experience::before{
  position: absolute;
  content: "</experience>";
  color: #FFF;
  /* border: 1px solid gold; */
  bottom: -20px;
  right: 20px;
  font-size: 1.2rem;
}

h1.section-header{
  margin-top: 2rem;
  color: #fff;
 }


.section-child{
  border: 2px solid #007CED;
  border-radius: 30px;
  padding: 1rem 2.5rem;
  margin: 1rem 0;
  
}

h3.section-header-child{
  color: #fff;
  font-weight: 200;
  font-size: 2rem;

}




/* All Experience Row  */
.row{
  position: relative;
  width: 100%;
  height: 280px;
  background-color: #282828;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 30px;
  transition: all 250ms ease-in ;
  box-shadow: rgb(0, 124, 237, 0.9) 1.95px 1.95px 2.6px;
}

.row .education-div1{
  width: 100%;
  height: 100%;
}

.row .education-div1 h1{
  font-size: 2rem;
  color: #D5D5D5;
}

.row .education-div1 h3{
  font-size: 1rem;
  color: #D5D5D5;
  font-weight: 400;
  line-height: 0.2rem;
  margin-bottom: 2rem;
}

.row .education-div1 h4{
  font-size: 1.5rem;
  color: #007ced;
  text-transform: capitalize;
  font-weight: 600;
  
}

.row .education-div1 p{
  width: 70%;
  font-size: 1.1rem;
  color: #D5D5D5;
  font-weight: 300;
}

.row .education-div2 h4{
  font-size: 1.5rem;
  color: #D5D5D5;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.row .education-div2 p{
  font-size: 1rem;
  color: #D5D5D5;
  font-weight: 200;
  line-height: 1.6rem;
}

/* End  */


.location{
  justify-content: flex-end;
}

.location .iconify, span{
  color: #007CED;
  font-size: 1rem;
}

.location span{
  margin: 0 0.5rem;
}



/* career row Style  */
 
.child2{
position: relative;
width: 100%;
height: 400px;
justify-content: center;
overflow-x: scroll;
}

/* .d1{
  left: 0;
  right: 0;
}

.d2{
  left: 20%;
  right: 0;
}

.d3{
  left: 40%;
  right: 0;
} */


.row2{
  /* position: relative; */
  width: 40%;
  height: 280px;
  background-color: #282828;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 30px;
  flex-direction: column;
  justify-content: space-between;
  transition: all 250ms ease-in ;
  box-shadow: -2rem 0 3rem -1rem #000;
  /* box-shadow: 0rem 0rem 5rem 0rem #000; */
  cursor: pointer;
  /* box-shadow: rgb(0, 124, 237, 0.9) 1.95px 1.95px 2.6px; */

  
  
}

.row2:not(:first-child){
  margin-left: -200px;
  /* box-shadow: 0rem 0rem 3rem -1rem #000;  */
}


.row2:hover{
transform: translatey(-2rem);
margin-right: -200px;
/* position: absolute; */
/* margin: 0; */
/* margin: 0; */
/* position: relative; */
}

.row2 .careers-div1{
  width: 100%;
  height: 100%;
  align-items: flex-start;
}

.row2 .careers-div1 .jobpic h1{
  color: #D5D5D5;
  width: 40%;
}


.row2 .careers-div1 .jobpostname{
  color: #D5D5D5;
  width: 60%;
  text-align: right;
}

.row2 .careers-div1 .jobpostname h1{
  font-size: 1.8rem;
  color: #e60576;
}

.row2 .careers-div1 .jobpostname h3{
  font-size: 0.9rem;
  color: #aaaaaa;
  font-weight: 400;
  line-height: 0.2rem;
}

.row2 .careers-div2{
  width: 100%;
  height: 100%;
}

.row2 .careers-div2 h4{
  font-size: 1.2rem;
  color: #007ced;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.row2 .careers-div2 p{
  font-size: 1rem;
  color: #D5D5D5;
  font-weight: 300;
  line-height: 1.5rem;
}

/* End  */

