@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root{
  --primary-color : #007ced;
  --primary-color-dark : #0056a7;
  --secondary-color: #e60576;
  --dark-color: #222222;
  --darl-color-2: #333333;
  --dark-color-3:#444444;
  --light-color: #AAAAAA;
  --light-color-2:#dfdede;
  --high-color: #000;
  --low-color: #fff; 
}









/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

li {
  display: inline-block;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

/* End */




/* Utility Class */
.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.b1 {
  border: 1px solid white;
}

.start, .end{
  text-align: left;
  width: 100%;
  /* margin-bottom: 1rem; */
  color: var(--light-color);
  font-size: 1.5rem;
}

.end{
  text-align: right;
}

/* End */




/* Base Classes */

body {
  background-color: var(--primary-color);
  padding: 1rem 3rem;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: var(--dark-color);
  border-radius: 40px;
  width: 100%;
  height: auto;
  padding: 2rem;
  position: relative;
}


/* End  */




/* Navbar Style  */
.head{
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  flex-direction: column;
  color: var(--low-color);
  
}

.title{
  text-align: center;
}

.title h1{
  position: relative;
  font-weight: bold;
  font-size: 3.5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;

}

.title h1::after{
  position: absolute;
  content: "Hi I Am";
  top: -30px;
  font-size: 2.5rem;
  color: var(--light-color);
  bottom: 0;
  right: 0;
  left: 0;
  text-align: left;

}

.title h3{
  font-weight: 200;
  font-size: 1.5rem;
  padding: 0;
  
}


.glow-ani{
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
}

.glow-line{
  width: 4px;
  height: 500px;
  background-color: var(--primary-color);
  border-radius: 20px;
  margin: 0 3rem;
  transform: rotate(25deg);
  box-shadow: 0px 0px 15px 2px var(--primary-color);
  transition: all 250ms ease-in;
  animation: updown 1s linear 1 alternate-reverse;
}


.glow-line1, .glow-line5{
  height: 200px;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 15px 2px var(--primary-color);
}

.glow-line2, .glow-line4{
  height: 350px;
  background-color: var(--secondary-color);
  box-shadow: 0px 0px 15px 2px var(--secondary-color);
}

.glowhover{
  animation: glow-hover 1s linear 1 alternate-reverse ;
  /* animation: none; */
  transform: rotate(90deg);
  transition: all 250ms ease-in-out;
}

@keyframes updown {
to{
  transform: rotate(90deg);
}
from{
  transform: rotate(25deg);
}
}
@keyframes glow-hover {
to{
  transform: rotate(25deg);
  }
from{
  transform: rotate(90deg);
}
}

.profile{
  padding: 3rem;
  flex-direction: column;
  justify-content: space-around;
}

.row{
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
}

.picture{
  width: 35%;
  height: 100%;

}

.picture img{
  width: 350px;
  border: 4px solid var(--primary-color);
  border-radius: 50%;
  padding: 1.5rem;
}

.details{
  /* margin-top: 100px; */
  width: 70%;
  max-width: 600px;
  height: 450px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2rem;
  border: 4px solid var(--secondary-color);
  background-color: var(--darl-color-2);
  z-index: 5;
}

.details h2{
  font-size: 2rem;
  color: var(--primary-color);
}

.details h4{
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--primary-color);
}

.details p{
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--light-color);
}


.social-media{
  margin-top: 0.5rem;
  width: 80%;
  height: 100%;
  justify-content: space-between;

}

.iconbg{
  position: relative;
  z-index: 4;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: all 250ms ease-in-out;
}

.social-media .iconify{
  width: 40px;
  height: 40px;
  color: var(--secondary-color);
  cursor: pointer;
  transition: all 250ms ease-in-out;
  /* position: relative; */
}




.iconbgani{
    top: 0;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    transition: all 250ms ease-in-out;
}




.iconbg:hover .iconbgani{
  background-color: var(--secondary-color) ;
  width: 100%;
  height: 100%;
}


.iconbg:hover > .iconify{
  color: var(--light-color);
  transition: all 250ms ease-in-out;
  transform: scale(1.2);
}


.introducation{
  margin-top: -70px;
  width: 45%;
  max-width: 600px;
  border: 4px solid var(--primary-color);
  height: 350px;
  padding: 0.5rem 2rem;

}

.introducation h1{
  color: var(--primary-color);
  font-size: 2.5rem;
  text-align: left;
}


.introducation p{
  color: var(--light-color);
  font-size: 1.3rem;
}

.buttons{
  width: 50%;
  height: calc(350px - 70px);
  justify-content: space-evenly;
}

.button{
  padding: 1.5em;
  width: 200px;
  text-align: center;
  background-color: var(--primary-color);
  font-size: 1.2rem;
  color: var(--low-color);
  transition: all 250ms ease-in-out;  
}

.button:hover{
  background-color: var(--primary-color-dark);
  color: var(--light-color);
}

.education{
  flex-direction: column;
  width: 100%;
}

.section-title{
  font-size: 3.5rem;
  text-align: left;
  width: 100%;
  padding: 0;
  font-weight: 300;
  color: var(--low-color);
  line-height: 100%;
  margin-bottom: 1rem;
}

.colleages{
  width: 100%;
  height: auto;
  padding: 0 2rem;
  flex-direction: column;
  align-items: flex-start;
}

.colleages .row{
  width: 90%;
  height: auto;
  padding: 1rem;
  text-align: left;
  border-left : 1px solid var(--low-color);
  border-bottom : 1px solid var(--low-color);
}

.colleages .row h2{
  font-size: 2.2rem;
  color: var(--light-color-2);
  font-weight: 600;
}

.colleages .row h5{
  font-size: 1.2rem;
  color: var(--light-color);
  font-weight: 400;
  line-height: 15%;
  margin-bottom: 1.5rem;
}

.colleages .row h3{
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 600;
}

.colleages .row p{
  font-size: 1.2rem;
  color: var(--light-color);
  font-weight: 400;
  line-height: 150%;
}

.location{
  justify-content: flex-end;
  margin-top: 0.5rem;

}

.location .iconify{
  color: var(--primary-color-dark);
  width: 30px;
  height: 30px;
  margin: 0 0.5rem;
}

.location p{
  color: var(--primary-color-dark) !important; 
  font-size: 1.2rem !important;
}

.abilities{
  flex-direction: column;
}

.skils{
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2rem;
  margin-bottom: 1rem;
  
}

.language{
  height: auto;
}


.skils h2{
  color: var(--primary-color);
  text-align: left;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-left: -20px;
}


.columns{
  width: 100%;
  height: 100%;
  border-left: 1px solid var(--low-color);
  justify-content: flex-start;
  align-items: flex-start;
}

.column{
  width: 50%;
  height: 100%;
  justify-content: flex-start;
}

.skil-info{
  width: 100%;
  height: 40px;
  margin-bottom: 0.5rem;
}

.skil-name, .tool-name {
  width: 40%;
 padding-left: 2rem;
 position: relative;
 overflow: hidden;
 z-index: 2;
}


.skil-name::after, .tool-name::after{
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #0056a7;
  transform: translateX(-110%);
  transition: all 300ms ease-in;
  z-index: -1;
}

.skil-info:hover .skil-name:after{
  transform: translateX(-10%);
}


.skil-info:hover  .iconify{
  color: var(--primary-color);
}

.skil-name p, .tools p{
  font-size: 1.4rem;
  color: var(--light-color-2);
 }

.skil-rating{
  width: 60%;
}

.skil-rating .iconify{
  font-size: 2rem;
  color: var(--light-color-2);
  transition: all 300ms ease-in;
  margin:0 0.2rem;
}

.tool-name{
  width: 100%;
  flex-direction: column;
}

.tools{
  width: 30%;
  height: auto;
  flex-direction: column;
}

.tools p{
  padding: 0.5rem;
  padding-left: 2rem;
}


.projectsection{
  flex-direction: column;
  width: 100%;
  height: auto;
}

.features{
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.feature{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  min-width: 300px;
  height: 250px;
  /* border: 1px solid gray; */
  text-align: center;
  padding: 2rem;
}

.feature .iconify{
  margin: 0.5rem;
  font-size: 50px;
  color: var(--primary-color);
}

.feature h3{
  font-size: 1.5rem;
  color: var(--primary-color);
}

.feature p{
  font-size: 1rem;
  color: var(--light-color);
}

.projects{
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem;
  justify-content: center;
  
}

.project{
  margin: 2rem;
  width: 300px;
  height: 400px;
  background-color: var(--dark-color-3);
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 0px 20px -4px var(--high-color);

}

.project .project-picture img{
  width: 250px;
  height: 250px;
  box-shadow: 0px 0px 20px -4px var(--high-color);

}

.project h2{
  color: var(--light-color-2);
}

.project p{
  color: var(--light-color);
}

.contact{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact h1{
  color: var(--secondary-color);
  font-style: italic;
  font-size: 2rem;
  padding: 2rem;
}

.contact h3{
  padding-left: 2rem;
  color: var(--light-color-2);
  font-size: 2rem;
  font-weight: normal;
}

.form{
  padding: 2rem;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.input-animation{
  position: relative;
  flex-direction: column;
  width: 40%;
  height: 80px;
  align-items: flex-start;
  justify-content: flex-end;
}

.form input, textarea{
border: none;
background-color: transparent;
height: 100%;
 width: 100%;
 border-bottom: 2px solid var(--secondary-color);
 font-size: 1.4rem;
 padding-top: 2rem;
 color: var(--light-color-2);
 font-family: "Poppins", sans-serif;
}

.text-area{
  height: 120px;
}

textarea{
height: 100px;
outline: none;
padding-top: 50px;
}

.input-animation label{
  pointer-events: none;
  position: absolute;
  font-size: 1.5rem;
  color: var(--light-color-2);
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0px;
}

.content-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}

.form input:focus{
  outline: none;
}


.input-animation input:focus + .label-name .content-name,
.input-animation input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  left: 0px;
  color: var(--primary-color);
}

.input-animation textarea:focus + .label-name .content-name,
.input-animation textarea:valid + .label-name .content-name {
  transform: translateY(-280%);
  font-size: 14px;
  left: 0px;
  color: var(--primary-color);
}

.submit{
  background-color: var(--primary-color);
  color: var(--low-color);
  font-size: 1.2rem;
  border: none;
  margin-top: 2rem;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.submit:hover{
  background-color: var(--primary-color-dark);
  color: var(--light-color-2);
}

.footer{
  text-align: center;
  color: var(--light-color);
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.social-icon{
  width: 70%;
  height: 200px;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  margin-top: -3rem;

}

.social-icon .iconify{
  font-size: 70px;
  color: var(--light-color);
}

.social-icon .iconify:hover {
  color: var(--light-color);
}


.footericon{
  width: 150px;
  height: 150px;
  align-items: flex-end;
  transition: all 300ms ease-in;
  padding-bottom: 0.5rem;
  border-bottom: 0rem solid #0056a7;
}

.footericon:hover{
  padding-bottom: 1rem;
  border-bottom: 3rem solid #0056a7;
}

.menu{
  z-index: 99999999;
  position: fixed;
  width: 120px;
  height: auto;
  /* background-color: #dfdede; */
  top: 35%;
  right: 3rem;
}

.menu ul{
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu ul li, a{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.menu ul li:hover{
  background-color: #dfdede;
}