@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

li {
  display: inline-block;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

/* End */




/* Utility Class */
.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.b1 {
  border: 1px solid white;
}

.start{
  text-align: left;
  width: 100%;
  /* margin-bottom: 1rem; */
  color: #AAAAAA;
  font-size: 1.5rem;
}

.end{
  text-align: right;
  width: 100%;
  margin-top: 1rem;
  color: #AAAAAA;
  font-size: 1.5rem;
}

/* End */




/* Base Classes */

body {
  background-color: #007ced;
  padding: 1rem 3rem;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: #222222;
  border-radius: 40px;
  width: 100%;
  height: auto;
  padding: 2rem;
}


/* End  */




/* Navbar Style  */
.head{
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  flex-direction: column;
  color: #fff;
  
}

.title{
  text-align: center;
}

.title h1{
  position: relative;
  font-weight: bold;
  font-size: 3.5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;

}

.title h1::after{
  position: absolute;
  content: "Hi I Am";
  top: -30px;
  font-size: 2.5rem;
  color: #AAAAAA;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: left;

}

.title h3{
  font-weight: 200;
  font-size: 1.5rem;
  padding: 0;
  
}




.glow-ani{
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
}

.glow-line{
  width: 4px;
  height: 500px;
  background-color: #007ced;
  border-radius: 20px;
  margin: 0 3rem;
  transform: rotate(25deg);
  box-shadow: 0px 0px 15px 2px #007CED;
  transition: all 250ms ease-in;
  animation: updown 1s linear 1 alternate-reverse;
}


.glow-line1, .glow-line5{
  height: 200px;
  background-color: #007ced;
  box-shadow: 0px 0px 15px 2px #007ced;
}

.glow-line2, .glow-line4{
  height: 350px;
  background-color: #e60576;
  box-shadow: 0px 0px 15px 2px #e60576;
}

.glowhover{
  animation: glow-hover 1s linear 1 alternate-reverse ;
  /* animation: none; */
  transform: rotate(90deg);
  transition: all 250ms ease-in-out;
}

@keyframes updown {
to{
  transform: rotate(90deg);
}
from{
  transform: rotate(25deg);
}
}
@keyframes glow-hover {
to{
  transform: rotate(25deg);
  }
from{
  transform: rotate(90deg);
}
}

.profile{
  padding: 3rem;
  flex-direction: column;
  justify-content: space-around;
}

.row{
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
}

.picture{
  width: 35%;
  height: 100%;

}

.picture img{
  width: 350px;
  border: 4px solid #007ced;
  border-radius: 50%;
  padding: 1.5rem;
}

.details{
  /* margin-top: 100px; */
  width: 70%;
  max-width: 600px;
  height: 450px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2rem;
  border: 4px solid #E60576;
  background-color: #333333;
  z-index: 5;
}

.details h2{
  font-size: 2rem;
  color: #007CED;
}

.details h4{
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.details p{
  font-size: 1.2rem;
  font-weight: 400;
  color: #AAAAAA;
}

.social-media{
  margin-top: 0.5rem;
  width: 80%;
  height: 100%;
  justify-content: space-between;

}

.social-media .iconify{
  width: 40px;
  height: 40px;
  color: #e60576;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.social-media .iconify:hover{
  color: #007ced;
  transition: all 250ms ease-in-out;
  transform: scale(1.5);
}

.introducation{
  margin-top: -70px;
  width: 45%;
  max-width: 600px;
  border: 4px solid #007CED;
  height: 350px;
  padding: 0.5rem 2rem;

}

.introducation h1{
  color: #007ced;
  font-size: 2.5rem;
  text-align: left;
}


.introducation p{
  color: #AAAAAA;
  font-size: 1.3rem;
}

.buttons{
  width: 50%;
  height: calc(350px - 70px);
  justify-content: space-evenly;
}

.button{
  padding: 1.5em;
  width: 200px;
  text-align: center;
  background-color: #007ced;
  font-size: 1.2rem;
  color: #fff;
  transition: all 250ms ease-in-out;  
}

.button:hover{
  background-color: #0056a7;
  color: #AAAAAA;
}

.education{
  flex-direction: column;
  width: 100%;
}

.section-title{
  font-size: 3.5rem;
  text-align: left;
  width: 100%;
  padding: 0;
  font-weight: 300;
  color: #fff;
  line-height: 100%;
  margin-bottom: 1rem;
}

.colleages{
  width: 100%;
  height: auto;
  padding: 0 2rem;
  flex-direction: column;
  align-items: flex-start;
}

.colleages .row{
  width: 90%;
  height: auto;
  padding: 1rem;
  text-align: left;
  border-left : 1px solid white;
  border-bottom : 1px solid white;
}

.colleages .row h2{
  font-size: 2.2rem;
  color: #fff;
  font-weight: 600;
}

.colleages .row h5{
  font-size: 1.2rem;
  color: #AAAAAA;
  font-weight: 400;
  line-height: 15%;
  margin-bottom: 1.5rem;
}

.colleages .row h3{
  font-size: 1.5rem;
  color: #007ced;
  font-weight: 600;
}

.colleages .row p{
  font-size: 1.2rem;
  color: #AAAAAA;
  font-weight: 400;
  line-height: 150%;
}

.location{
  justify-content: flex-end;
  margin-top: 0.5rem;

}

.location .iconify{
  color: #0056a7;
  width: 30px;
  height: 30px;
  margin: 0 0.5rem;
}

.location p{
  color: #0056a7 !important; 
  font-size: 1.2rem !important;
}

.abilities{
  flex-direction: column;
}

.skils{
  flex-direction: column;
  width: 100%;
  height: 600px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2rem;
  
}

.skils h2{
  color: #007ced;
  text-align: left;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-left: -20px;
}


.columns{
  width: 100%;
  height: 100%;
  border-left: 1px solid #fff;
}

.column{
  width: 50%;
  height: 100%;
  justify-content: flex-start;
}

.skil-info{
  width: 100%;
  height: 40px;
  margin-bottom: 0.5rem;
}

.skil-name {
  width: 40%;
 padding-left: 2rem;
}

.skil-name p{
  font-size: 1.4rem;
  color: #dfdede
 }

.skil-rating{
  width: 60%;
}

.skil-rating .iconify{
  font-size: 2rem;
  color: #dfdede;
  margin:0 0.2rem;
}