@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

li {
  display: inline-block;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

/* End */




/* Utility Class */
.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.b1 {
  border: 1px solid white;
}

button {
  margin-top: 1rem ;
  margin-right: 1rem;
  padding: 1em;
  width: 150px;
  border-radius: 30px;
  background-color: #333333;
  color: #ffffff;
  font-weight: light;
  font-size: 1rem;
  cursor: pointer;
}

.btn-primary {
  border: 2px solid #007ced;
}

.btn-secondary {
  border: 2px solid #e60576;
}


.view_more{
  position: absolute;
  padding: 0.8em;
  border-radius: 0px 0px 20px 20px;
  border-radius: 20px;
  background-color: rgb(230, 5, 118);
  bottom: -25px;
  left: 92.3%;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.9) 0px -2px 6px 0px inset;
}

.view_more .iconify{
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.view_more span{
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}


/* End */




/* Base Classes */

body {
  background-color: #007ced;
  padding: 3rem;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: #222222;
  border-radius: 40px;
  width: 100%;
  height: auto;
  padding: 2rem;
}


/* End  */




/* Navbar Style  */
.head{
  width: 100%;
  height: calc(100vh - 9rem);
  position: relative;
  z-index: 1;
  flex-direction: column;
  color: #fff;
  
}

.title{
  text-align: center;
}

.title h1{
  position: relative;
  font-weight: bold;
  font-size: 3.5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;

}

.title h1::after{
  position: absolute;
  content: "Hi I Am";
  top: -30px;
  font-size: 2.5rem;
  color: #AAAAAA;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: left;

}

.title h3{
  font-weight: 200;
  font-size: 1.5rem;
  padding: 0;
  
}




.glow-ani{
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
}

.glow-line{
  width: 4px;
  height: 500px;
  background-color: #007ced;
  border-radius: 20px;
  margin: 0 3rem;
  transform: rotate(25deg);
  box-shadow: 0px 0px 15px 2px #007CED;
  transition: all 250ms ease-in;
  animation: updown 1s linear 1 alternate-reverse;
}

.myclass{
  color: #AAAAAA;
}

.title:hover .glow-line{
  background-color: aqua;
}


.glow-line1, .glow-line5{
  height: 200px;
  background-color: #007ced;
  box-shadow: 0px 0px 15px 2px #007ced;
  /* animation: downup 1s linear 1 alternate-reverse; */
}

.glow-line2, .glow-line4{
  height: 350px;
  background-color: #e60576;
  box-shadow: 0px 0px 15px 2px #e60576;
  /* animation: updown 1s linear 1 alternate-reverse; */
}

.glowhover{
  animation: glow-hover 1s linear 1 alternate-reverse ;
  /* animation: none; */
  transform: rotate(90deg);
  transition: all 250ms ease-in-out;
}

@keyframes updown {
to{
  /* transform: rotate(25deg), scale(0.2); */
  transform: rotate(90deg);
}
from{
  /* transform: rotate(25deg) scale(1.3); */
  transform: rotate(25deg);
}
}

  @keyframes glow-hover {
    to{
      transform: rotate(25deg);
    }
    from{
      transform: rotate(90deg);

    }
    }
